<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="p-10 bg-zinc-900 text-white flex justify-center items-center h-screen w-full">

    <div class="container h-[50vh] w-[50vw]">
        <h1 class="text-xl mb-2">Log in to your Account</h1>
        <form action="/user/login" method="post" class="w-72 ">
            <input type="text"
                class="block border-[1px] border-gray-300 bg-transparent text-sm rounded-md p-2 w-full mb-2 "
                placeholder="email" name="email">
            <input type="password"
                class="block border-[1px] border-gray-300 bg-transparent text-sm rounded-md p-2 w-full mb-2"
                placeholder="password" name="password">
            <button type="submit"
                class="block border rounded-md bg-sky-500 border-black border-3 text-black px-4 py-1 font-semibold">Login</button>
        </form>
        <p>New Member? <a href="/" class="text-sky-500">Sign Up</a></p>
    </div>


</body>

</html>